<form action="/entervalues" method="post">
  Name: <input type="text" name="name" value="name" required><br>

  Email: <input type="email" name="email" id="email" required><br>
  DOB: <input type="text" name="dob" id="dob" required><br>
  aadhar: <input type="number" name="aadhar" id="aadhar" required><br>
  home area: <input type="text" name="home" id="home" required><br>
  wallet amount: <input type="number" name="amount" id="amount" required><br>
  
  <input type="submit" value="Submit">
</form>